<app-toolbar></app-toolbar>
<app-sidebar></app-sidebar>
<app-pagegrapper>
 <h3>Este es el entregable de la clase {{title}}!!</h3> 
  <ul>
    <li><p> Esta es  una pagina de prueba en la cual se visualiza un navbar con las wikis mas populares del mundo!.</p></li>
    <li>Agregue un mediaquery para esconder el menu lateral cuando la pantalla es muy chica, ya que se veía bastante mal.</li>
    <li> 
      También intente hacerlo leyendo la documentacion de Angular Material
     </li>
  </ul>
 
 <br>

<app-footer></app-footer>